@model deprosa.Web.Model.SaleListingCreateViewModel
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.SaleListing.Harddisk)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.TextBoxFor(e => e.SaleListing.Harddisk)
    </div>
</div>

