@model deprosa.Website.Data.Model.ViewModel.SaleListingListViewModel


    @foreach (var item in Model.Salelistings)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created, "DateTime")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
        </tr>
    }
<br />
