@model deprosa.ViewModel.SaleListingDTO
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayNameFor(e => e.Harddisk)
    </div>
    <div class="col-md-offset-2 col-md-10">
        @Html.DisplayFor(e => e.Harddisk)
    </div>
</div>

